.idea
media/
bower_components
node_modules
package/debian/var
package/debian/DEBIAN/control
package/debian-light/var
package/debian-light/DEBIAN/control
package/debian-admin/var
package/debian-admin/DEBIAN/control
/static
*.pyc
*.tmp
*.log
*.deb

local_settings.py
db.sqlite3
insider_pro/static/tmp
.DS_Store
bin/
local/
lib/
include/
*~*
gulp
gulp-config-local.js
