.content {
  @include bp(wide) {
    padding: rem(24 32 44);

    border-radius: rem(24);
  }

  position: relative;

  max-width: 960px;
  margin: auto;
  padding: rem(24 16 44);

  background: #d9e5e8;
  H1,
  H2,
  H3 {
    line-height: 1.1;

    margin: rem(24 0 8);
  }

  P {
    margin: 0 0 rem(8);
  }

  LI {
    margin: 0 0 rem(4);
  }

  TABLE {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: rem(8);
  }

  TD,TH {
    padding: rem(8);
    border: 1px solid color(text,light);
    font-size: rem(14);
  }

  BLOCKQUOTE {
    text-align: left;
    font-style: italic;
    padding: 0 rem(16) 0;
    margin: rem(16) 0;
    border-left: 3px solid color(link);
  }
  .list-double {
    @include bp(wide) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      LI {
        width: 49%;
      }
    }
  }
}

.content__title {
  @include bp(wide) {
    right: rem(72);

    text-shadow: none;
  }

  font-weight: bold;
  line-height: 1;

  position: absolute;
  top: rem(-72);
  right: rem(16);

  margin: 0 !important;

  text-transform: uppercase;

  color: #799ca5;
  text-shadow: 0 0 5px rgba(0,0,0,.8);
}

.content__title-link {
  text-decoration: none;
  color: #799ca5;

  &:hover {
    color: inherit;
  }
}

.content__title-main {
  font-size: rem(44);

  display: block;

  margin-left: -2px;
}

.content__title-sub {
  font-size: rem(22);
  line-height: .6;

  display: block;

  letter-spacing: 1px;
}

.content__cols {
  @include bp(wide) {
    display: flex;
  }
}

.content__col {
  padding-bottom: rem(16);

  @include bp(wide) {
    width: 50%;
    &.announce {
      width: 64%;
      padding-right: rem(44);
    }
  }
}
