.content {
  @include bp(wide) {
    padding: rem(24 32 44);

    border-radius: rem(24);
  }

  position: relative;

  max-width: 960px;
  margin: auto;
  padding: rem(24 16 44);

  background: #d9e5e8;
  
  h1, h2, h3 {
    margin: 0 0 rem(8);
  }

  p {
    margin: 0 0 rem(8);
  }
}

.content__title {
  font-weight: bold;
  line-height: 1;

  position: absolute;
  top: rem(-72);
  right: rem(72);

  margin: 0;

  text-transform: uppercase;

  color: #799ca5;
  
  @include bp(small med) {
    text-shadow: 0 0 5px rgba(0,0,0,.8);
  }
}

.content__title-main {
  font-size: rem(44);

  display: block;

  margin-left: -2px;
}

.content__title-sub {
  font-size: rem(22);
  line-height: .6;

  display: block;

  letter-spacing: 1px;
}

.content__cols {
  @include bp(wide) {
    display: flex;
  }

  margin-bottom: rem(16);
}

.content__col {
  @include bp(wide) {
    width: 50%;
    
    &.announce {
      width: 64%;
      padding-right: rem(44);
    }
  }

  // padding: rem(0 24);
}

.content__roles {
  font-style: italic;

  margin-top: rem(32);
  &:before {
    display: block;

    width: rem(64);
    height: 1px;
    margin: auto;
    margin-bottom: rem(32);

    content: '';

    background: color(link);
  }
}
