.nav {
  @include bp(wide) {
    position: absolute;
    top: rem(-32);
    left: 30%;

    margin-bottom: 0;
  }

  margin-bottom: rem(16);
}

.nav__item {
  @include bp(wide) {
    font-size: rem(16);

    margin-right: rem(12);

    color: #799ca5;
    &:hover {
      color: darken(#799ca5, 15%);
    }
  }

  font-size: rem(15);
  font-weight: bold;
  line-height: 1;

  display: inline-block;

  margin-right: rem(4);

  vertical-align: middle;
  text-decoration: none;

  color: color(link);
}
