<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        РИ «Барраяр. Время перемен»
      {% endif %}
    </title>

    <link rel="stylesheet" href="/static/css/website/website.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

</head>

<body>
    {% include head.html %}
    
    <div class="wrap">
        {{ content }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
  <script>

  var layers = [],
      layerElements = document.getElementsByClassName('js-layer'),
      _scrollY = window.scrollY;

    function init() {
      for (var i = 0; i < layerElements.length; i += 1) {
        var el = layerElements[i];
        var offset = layerElements[i].dataset.offset;
        layers.push({el: el, y: 0, offset: offset});
      }

      window.addEventListener('scroll', handle_scroll);
      requestAnimationFrame(animate);
    }

    function handle_scroll(e) {
      _scrollY = window.scrollY;
    }

    function animate() {
      for (var i = 0; i < layers.length; i += 1) {
        var oldY = layers[i].y;
        layers[i].y = _scrollY * layers[i].offset;

        if (oldY !== layers[i].y) {
          layers[i].el.style.transform = 'translateY(' + layers[i].y + 'px)';
        }
      }

      requestAnimationFrame(animate);
    }

    init();
  </script>

</body>

</html>