//
// Variables
// -------------------------
$foot-height: 260px;


// Global values
// -------------------------
$images-dir: 'i/dest/';     // Used by background-retina mixin


//
// Responsitive layout
// -------------------------
$breakpoints: (
  'small' : 0,
  'med' : 480px,
  'large' : 768px,
  'wide' : 960px,
  'huge' : 1280px,
  'mega' : 1500px
);

// Breackpoint for screen viewport up to 738px (like macbook air 13")
$macbook13: height 570px 738px;

$mobile-portrait: height 0 460px;

// Colors
// -------------------------

$colors: (
  layout: (
    base: #253a4e,
    block: #799ca5
  ),
  text: (
    base: #111,
    light: #333
  ),
  link: (
    base: #507ea9,
    hover: lighten(#cc6600, 10%)
  ),
);


// Typography
// -------------------------

$font-family-base: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-family-base-caption: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-family-serif: 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-family-serif-caption: 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-size-base: 16px;
$line-height: 1.25rem;

