@function rem($pxs) {
  @if type_of($pxs) == list {
    $rem: ();
    @each $px in $pxs {
      $rem: append($rem, $px / 16 * 1rem);
    }
  } @else {
    $rem: $pxs / 16 * 1rem;
  }

  @return $rem;
}
